.web
assets/external/
.states

# Entorno virtual
venv/

# Archivos de Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Base de datos
*.db
pacta.db

# Archivos de Reflex
web/
web_dist/
web_dist.*
web_dist.*.zip
web_dist.*.tar.gz

# Archivos de IDE
.idea/
.vscode/
*.swp
*.swo

# Archivos temporales
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de prueba
coverage/
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# Archivos de configuración
.env
.env.*
!env.example
